Songs {
    font-family: "Didot", serif;
    margin: 10px 10px 10px 10px;
    width: 100%
}
Song {
    display: block;
    margin-bottom: 20pt;
}
Title {
    display: block;
    color: #5900ff;
    font-size: 16pt;
    font-weight: 800;
}
Artist {
    display: block;
    color: #0099ff;
    font-size: 15pt;
    font-weight: 800;
}
Genres:before {
    content: "Genres: ";
}
Genre ~ Genre::before {
    content: "- "; 
}
Genre {
    display: inline;
    color: #000000;
}
Year:before {
    content: "Release Year: ";
}
Year {
    display: block;
    color: #000000;
}